<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><%= humannize_boolean user.locked %></td>
  <td><%= user.current_sign_in_at %></td>
  <td><%= link_to '', edit_user_path(user), class: 'glyphicon glyphicon-pencil btn-xs btn-primary', title: t('edit')  %></td>
  <td><%= link_to '', user, method: :delete, data: { confirm: "Confirma deleção?", ok: t('ok'), cancel: t('cancel')}, class: 'glyphicon glyphicon-remove btn-xs btn-danger', title: t('delete')  unless user == current_user  %></td>
</tr>