<h2><%= t('.title', default: User.model_name.human.pluralize) %></h2>

<%= render 'search_form' %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sort_link @search, :name %> </th>
    <th><%= sort_link @search, :email %> </th>
    <th><%= sort_link @search, 'Role' %><%#= User.human_attribute_name(:name) %></th> <!-- #TODO internacionalizar quando existir-->
    <th><%= sort_link @search, :locked %></th>
    <th><%= sort_link @search, :current_sign_in_at %></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
  </tbody>
</table>


<div class="actions pull-left">
  <%= will_paginate @users %>
</div>


<div class="actions pull-right">
  <%= link_to t('back'), :back, class: 'btn btn-default' %> <%= link_to t('new'), new_user_path, class: 'btn btn-primary ' %>
</div>