<div class="">
  <p class="pull-left ">Created by <a href="http://www.site.br" target="_blank">Dev</a></p>
  <ul id="colorchanger" class="pull-right list-inline">
    <li><a href="#" rel="<%= asset_url('dev.css') %>" title="DEV">DEV</a></li>
    <li><a href="#" rel="<%= asset_url('simplex.css') %>" title="Simplex">Simplex</a></li>
    <li><a href="#" rel="<%= asset_url('metro.css') %>" title="Metro">Metro</a></li>
    <li><a href="#" rel="<%= asset_url('cyborg.css') %>" title="Cyborg"> Cyborg</a></li>
    <li><a href="#" rel="<%= asset_url('cerulean.css') %>" title="cerulean">Cerulean</a></li>
  </ul>
  <p class='languages pull-right'>
    <%= link_to image_tag('blank.gif', class: 'flag flag-br'), locale: "pt-BR" %>
    <%= link_to image_tag('blank.gif', class: 'flag flag-us'), locale: "en" %>
  </p>
</div>