<div class="navbar navbar-default" role="navigation">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'BASE WEB', root_path, class: "navbar-brand" %>
    </div>
    <% if controller_name != 'login' %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"> 
             <li><%= link_to User.model_name.human, users_path %></li> 
            <!--TODO internacionalizar link e bloquear acesso nao autorizado -->
          </ul>

          <p class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>

              <!--<p class="nav navbar-nav navbar-right">-->
                <!--<i>-->
                <%#= link_to "Logged as #{current_user}", edit_user_registration_path(current_user), class: 'navbar-link' %> 
                  <%#= link_to t('logout'), destroy_user_session_path, method: :delete %>
                <!--</i>-->
                <!--<i> <%#= t 'current_locale' %> <%#= I18n.locale %></i>-->
              <!--</p>-->

               <i>
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "Logged as #{current_user}", edit_user_registration_path(current_user), class: 'navbar-link' %>
                <% else %>
                    <%= link_to "Logged as #{current_user}", edit_user_path(current_user), class: 'navbar-link' %>
                <% end -%>
                <%= link_to('', destroy_user_session_path, method: :delete, data: {confirm: t('confirm_logout'), ok: t('ok'), cancel: t('cancel')}, id:'logout', class: 'glyphicon glyphicon-log-out btn btn-default') %></i>
            <% else %>
                <i><%= link_to('', new_user_session_path, class: 'glyphicon glyphicon-log-in btn btn-info') %></i>
            <% end %>

          </p>



          <!--<ul class=" navbar-nav">-->
          <!--<li><%#= link_to 'en', '/?locale=en' %></li>-->
          <!--<li><%#= link_to 'pt', '/?locale=pt' %></li>-->
          <!--</ul>-->


          <!--<div id="nav">-->
          <!--Language:
        <%#= link_to_unless I18n.locale == :en, "English", locale: "en" %> |
        <%#= link_to_unless I18n.locale == :pt, "Portugues", locale: "pt" %>-->
          <!--</div>-->




        </div>
    <% end %>
  </div>
</div>